PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=name_db
DB_USER=postgres
DB_PASSWORD=tu_password

JWT_SECRET=tu_jwt_secret_super_seguro
JWT_EXPIRES_IN=7d

FRONTEND_WEB_URL=http://localhost:5173
FRONTEND_ADMIN_URL=http://localhost:5174